body {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f5f5f5;
    background-image: url("susenye-list-a-seryi-pustoi-fon-fotor-2025061714528.png");

}
#logo {
    margin: 15px;
}
#logoimg {
    width: 150px;
}
.divform {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    border: 2px solid #f68b1e ;
    box-shadow: 10px 10px 3px rgba(246, 139, 30, 0.28);
}
.inputs{
    margin-bottom: 15px;
}
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, button {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
button {
    background-color: #f04d23;
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(240, 77, 35, 0.33);
}
.result {
    margin-top: 20px;
}
.rail-class{
    position: relative;
    width: 800px;
    height: 80px;
    background: #d6d6d6;
    margin-top: 70px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);

}
.defect {
    background-color: #272626;
}
.defect {
    position: absolute;
    width: 1px;
    height: 80px;
    background: #ff4444;
    transform: translate(-50%, -50%);
    top: 50%;
}
.invise {
    display: none;
}
.scan {
    position: absolute;
    background-color: #f04d23;
    width: 5px;
    height: 140px;
}

